html {
  cursor: url("../assets/cursor.png") 90 50, pointer;
}

/* Global Styles go here */
body {
  background: white;
  color: black;
  margin: 0;
  padding: 0;
}

#quiche_1 {
  position: relative;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  object-fit: cover;
  z-index: 50;
}

.splash {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;

}

#splashcater {

  display: block;
  margin: auto auto;
  margin-top: 45vh;

}
